<%- include('partials/header') -%>

    <br/>

<!--Section: News of the day-->
<div class="row gx-5">
  <div class="col-md-6 mb-4">
    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
      <img src="<%= post.image%>" class="img-fluid" style="width:50rem; height:40rem;" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3"> <%= user.userName %></span>
    <h4><strong>Facilis consequatur eligendi</strong></h4>
    <p class="text-muted">
      <%= post.caption %>
    </p>
    <form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
    <button type="button" class="btn btn-primary fa fa-heart" type="submit"></button>
    </form>
    <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
        <div class="col-6 mt-5">
          <a class="btn btn-primary" href="/profile">Return to Profile</a>
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>
  </div>
</div>



<%- include('partials/footer') -%>