<%- include('partials/profileheader') -%>

   <!------ <h1 style = "text-align:center; margin-top:7rem;"> 
      Legal Roomies Questions 
    </h1>
    <section class="questionbox">
      <ul class="questions">

<% for(let i=0; i  < questions.length; i++) {%>
  <li class="question">
    <div class="questionTitle">
      <%= questions[i].title %> </div>
         <div class="questionSummary">
           <%= questions[i].question_body %> 
          </div> 
   <span><form class="likeIcon" action="/question/addOneLike/<%=questions[i]._id %>?_method=PUT" method="POST">
      <%= questions[i].likes %> 
      <button class="fa fa-thumbs-up questionIcon" aria-hidden="true"> 
      </button> </span>
    </form>

      <% if(questions[i].user == user.id){ %>
        <form action="/question/deleteQuestion/<%= questions[i]._id %>?_method=DELETE"
              method="POST">
            
              <button class='fa fa-trash questionIcon'></button>
            </form>
            <% } %>


      <div class="questionImage">
        <a href="/question/<%= questions[i]._id%>"></a>
      <img src="<%= questions[i].image%>">
      </a>

      </div>
 

  </li>
  <% } %>
      </ul>
  
    </section>---->


<!---------------TRY OUT SECTION ------------------->

<!--Section: Newsfeed-->
<section>
  <% for(let i=0; i  < questions.length; i++) {%>
  <div class="card" style=" max-width:42rem; margin: 0 auto; margin-top:7rem;" >
   
    <div class="card-body">
      <!-- Data -->
      
      <div class="d-flex mb-3">
        <a href="">
          <img src="" class="border rounded-circle me-2"
            alt="Avatar" style="height: 40px" />
        </a>
        <div>
          <a href="/question/<%= questions[i]._id%>" class="text-dark mb-0">
            <strong><%= questions[i].userName %></strong>

           
          </a>
          <a href="" class="text-muted d-block" style="margin-top: -6px">
            <small><%=moments(questions[i].createdAt)%></small>
          </a>
        </div>
      </div>
      <!-- Description -->
      <div>
        <h1> <%= questions[i].title %> </h1>
        <p>
          <%= questions[i].question_body %> 
        </p>
      </div>
    </div>
  
    <!-- Media -->
    <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
      <img src="<%= questions[i].image%>" class="w-100" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
      </a>
    </div>
    <!-- Media -->
    <!-- Interactions -->
    <div class="card-body">
      <!-- Reactions -->
      <div class="d-flex justify-content-between mb-3">
        <div>
          <a href="">
            <i class="fas fa-thumbs-up text-primary"></i>
            <i class="fas fa-heart text-danger"></i>
            <span><%= questions[i].likes %></span>
          </a>
        </div>
        <div>
          <a href="" class="text-muted"> 8 comments </a>
        </div>
      </div>
      <!-- Reactions -->

      <!-- Buttons -->
      <div class="d-flex justify-content-between text-center border-top border-bottom mb-4">
        <form class="likeIcon" action="/question/addOneLike/<%=questions[i]._id %>?_method=PUT" method="POST">
          
          <button type="submit" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
            <i class="fas fa-like-alt me-2"></i> Like
          </button>
      </form>

      <form action="/comment/createComment/<%=questions._id%>" method="POST">
        <button type="submit" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
          <i class="fas fa-comment-alt me-2"></i>Comment
        </button>
        <!--<button type="button" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
          <i class="fas fa-share me-2"></i>Share
        </button>--->
      </div>
      <!-- Buttons -->

      <!-- Comments -->

      <!-- Input -->
      <div class="d-flex mb-3">
        <a href="">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/18.webp" class="border rounded-circle me-2"
            alt="Avatar" style="height: 40px" />
        </a>
        <div class="form-outline w-100">
          <textarea class="form-control" id="textAreaExample" rows="2"></textarea>
          <label class="form-label" for="textAreaExample">Write a comment</label>
        </div>
      </div>
    </form>
      <!-- Input -->

      <!-- Answers -->

      <!-- Single answer -->
      <% for(let j= 0; j< questions[i].comments; j++) {%>
      <div class="d-flex mb-3">
        <a href="">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="border rounded-circle me-2"
            alt="Avatar" style="height: 40px" />
        </a>
        <div>
          <div class="bg-light rounded-3 px-3 py-1">
            <a href="" class="text-dark mb-0">
              <strong>Malcolm Dosh</strong>
            </a>
            <a href="" class="text-muted d-block">
              <small><%= comments[j].comment %></small>
            </a>
          </div>
          <a href="" class="text-muted small ms-3 me-2"><strong>Like</strong></a>
          <a href="" class="text-muted small me-2"><strong>Reply</strong></a>
        </div>
      </div>

      
  <% } %>
        

      <!-- Answers -->

      <!-- Comments -->
    </div>
    <!-- Interactions -->

  </div>
  <% } %>
</section>
<!--Section: Newsfeed-->






     
    

    
    
    
    <%- include('partials/footer') -%>